{
    "presets": ["env", "stage-3"],
    "plugins": [
        [
            "transform-runtime", {
                "polyfill": true,
                "regenerator": true
            }
        ],
        "transform-class-properties",
        "transform-object-rest-spread"
    ],
    "env": {
        "production": {
            "presets": [
                ["env", {
                    "modules": false,
                    "useBuiltIns": true
                }], "stage-3"
            ]
        }
    }
}
